<!DOCTYPE html>
<html>
<head>
	<title>admin</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="static/bootstrap.min.css">
  <link rel="stylesheet" href="static/jquery-ui.css">
  <link rel="stylesheet" href="static/owl.carousel.min.css">
  <link rel="stylesheet" href="static/owl.theme.default.min.css">
  <link rel="stylesheet" href="static/owl.theme.default.min.css">

  <link rel="stylesheet" href="static/jquery.fancybox.min.css">

  <link rel="stylesheet" href="static/bootstrap-datepicker.css">

  <link rel="stylesheet" href="static/fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="static/aos.css">
  <link href="static/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="static/style.css">
</head>
<body>
<form method="post" action="/admin">
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="fname">Username</label>
                    <input type="text" id="fname" class="form-control form-control-lg" name="user">
                </div>
                <div class="col-md-6 form-group">
                    <label for="lname">Password</label>
                    <input type="password" id="lname" class="form-control form-control-lg" name="pass">
                </div>
                <div class="row">
                <div class="col-12">
                    <input type="submit" value="Sign In" class="btn btn-primary btn-lg px-5">
                </div>
            </div>
            </div>
         </div>
     </div>
    </form>
</body>
</html>